/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
html {
  background: #1d1d1d no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.showSection img {
  width: 100%;

  width: 170px !important;
  height: 255px;
  /* object-fit: cover; */
}

/* Utilities */
.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: white;
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
  color: #919191;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  /* background: var(--light-color); */
  color: #919191;

  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: color 0.25s ease-in-out;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  color: white;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form {
  background-color: #dddddd;
  border-radius: 5px;
  border-color: #6e6d6d;
  justify-content: center;
}
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: block;
  position: fixed;
  top: 0;
  height: 50px;
  padding-top: 10px;

  z-index: 1;
  width: 100%;
  top: 0;
  /* opacity: 0.9; */
  border-bottom: 1px solid #2f2f2f;
  background: #1d1d1d;
}

.navbar ul {
  display: flex;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.header {
  font-size: 1.2em;
  margin-left: 2%;
  color: #919191;
  margin-bottom: 10px;
}
.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
    text-align: center;
    color: white;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
button {
  background: transparent;
}
input[type="search"] {
  margin-top: 5px;
  color: #919191;
  border: 0px solid #333;
  background: #1d1d1d 9px 8px;
  padding-left: 8px;
}
select {
  border: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  background: url(./assets/arrow.svg) no-repeat #282828;
  background-position: right;

  background-origin: content-box;
}
select:focus {
  outline: none;
}
.container input[type="search"],
select {
  border: 0;
  padding: 10px;
  color: #a2a2a2;
  border-radius: 3px;

  box-sizing: border-box;
  height: 40px;
}

input:focus {
  outline: none;
}
.InputField {
  margin-top: 5px;
  padding-left: 8px;
  padding-right: 20px;
  font-size: 0.85em;
  font-weight: bold;
  background: #1d1d1d 9px 8px;
  border: 2px solid #333;
  border-radius: 20px;
}
.container div p {
  color: #5a5a5a;
  margin-top: 5px;
  font-size: 1.35em;
  height: 30%;
}

.showSection {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: auto auto auto auto;
  justify-items: auto;
  align-items: center;
  padding: 20px 210px;
  gap: 30px;
  row-gap: 30px;

  /* background: #1d1d1d; */
}
a {
  border: 9px solid white;
  border-radius: 6px;
  display: inline-block;
}
.showSection a:hover {
  border: 9px solid #6ac045;
  /* overflow: hidden; */
}
figure {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
}
figcaption {
  color: white;

  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  /* z-index: 2; */
  width: 100%;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  padding-top: 20px;
}

figure figcaption h4 {
  font-size: 25px;
  /* position: relative; */
  width: 100%;
  padding-right: 0 !important;

  font-weight: bold;
  color: #fff;
  padding-left: 0 !important;
  text-align: center;
  font-weight: bold;
}
.FilmImage {
  display: block;
  width: 100%;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
}

a:hover figcaption {
  opacity: 1;
}
a:hover .FilmImage {
  opacity: 0.2;
}

.button-green {
  background: #6ac045;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  font-weight: bold;
  text-align: center;
  color: #fff;
  top: 35px;
  font-size: 16px;
  position: relative;
  width: 130px;
  padding: 7px 0;
  margin-top: 20px;
  margin: 0 auto;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
a:hover .button-green {
  -moz-transform: translateY(-35px);
  -webkit-transform: translateY(-35px);
  transform: translateY(-35px);
  margin-top: 10px;
}
.icon-star {
  position: relative;
  left: 70px;
  width: 100%;
  color: #6ac045;
  font-size: xx-large;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  text-align: center;
}

.white-star {
  position: relative;
  left: 20px;
  width: 100%;
  color: white;
  cursor: pointer;
  font-size: xx-large;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  text-align: center;
}
.white-star:visited {
  color: #6ac045;
}
.favorite .icon-star {
  left: 20px;
}
.ItemDetailView {
  display: grid;
  /* justify-items: auto;
  align-items: center; */
  text-align: left;
  padding: 20px 200px;
  grid-template-columns: 2fr 4fr 2fr;
  width: 100%;
}
.ItemDetailView div h1 {
  font-size: 2.5em;
  margin-bottom: 24px;
  line-height: 42px;
}
.ItemDetailView div div .icon-star {
  color: #6ac045;
  font-size: x-large;
  left: 20px;
  top: 6px;
}
.searchButton {
  background: #6ac045;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: none;
  display: block;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  width: 130px;
  padding: 10px 0;
  margin-left: 30px;
  outline: none;
}
.pagination {
  margin: 25px 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-items: center;
  font-size: 18px;
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
.pagination li {
  display: inline-block;
  margin: 2.5px;
  padding: 0;

  list-style-type: none;
}
ul.pagination li a {
  border: 1px solid #333;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  display: block;
  text-decoration: none;
  padding: 10px 13px !important;
}
ul.pagination li a:hover {
  background: #5da93c;
  border-color: #5da93c;
  cursor: pointer;
}
ul.pagination li a.current {
  color: #fff;
  background: #5da93c;
  border-color: #5da93c;
}
.movieTitle,
.movieYear {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  display: block;
  transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
}
.movieYear {
  color: #919191;
}
.movieTitle:hover {
  border: 0 !important;
  color: #919191;
}
.similarMovies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 148px 148px;
  gap: 15px;
  width: max-content;

  border: none;
}
.similarMovies a {
  border: 4px solid white;
}
.similarMovies a:hover {
  border: 4px solid #6ac045;
}
.similarMovies img {
  width: 90px;
  height: 140px;
}

.register {
  width: 30%;
  text-align: center;
  padding-top: 50px;
  margin-left: 35%;
}
.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
.button-reg {
  background-color: #1d1d1d;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #888;
  padding: 5px;
  margin-bottom: 10px;
  transition: color 0.25s ease-in-out;
}
.button-reg:hover {
  color: white;
}
.favorite {
  color: white;
  font-size: 19px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 90%;
  text-align: center;
}
.icon-heart {
  position: relative;
  left: 20px;
  width: 100%;
  color: #6ac045;
  font-size: xx-large;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  text-align: center;
}
.Profile {
  padding-top: 200px;
  margin-left: 25%;

  width: 50%;
}
.profileItems {
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* align-items: center; */
  /* justify-items: center; */

  height: auto;
  background-color: rgba(255, 255, 255, 0.89);
  /* width: 200px; */
  margin: auto;
  text-align: center;
}
.FavoriteItem {
  border-bottom: 2px solid #919191;
}
